<mat-card class="invoice-card">
    <mat-card-title>Invoice</mat-card-title>
    <mat-card-subtitle>Invoice : 12345</mat-card-subtitle>
    <hr>
    <div style="display: flex;">
        <div class="card-header-left">
            <h2>Bill To</h2>
            <mat-form-field *ngIf="selectedCustomer.name==''">
                <mat-select placeholder="Select Customer" [(ngModel)]="selectedCustomer">
                    <mat-option *ngFor="let c of customers" [value]="c">{{c.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="selectedCustomer" class="customerSelection">
                <h3 style="font-weight: bold;">{{selectedCustomer.name}}</h3>
                <p>{{selectedCustomer.address}}</p>
                <p>{{selectedCustomer.email}}</p>
                <p>{{selectedCustomer.mobile}}</p>
                <button (click)="changeCustomer()">change</button>
            </div>
        </div>

        <div class="card-header-right">
            <h2>Bill From</h2>
            <div>
                <h3 style="font-weight: bold;">{{user.name}}</h3>
                <p>{{user.email}}</p>
            </div>
        </div>
    </div>
    <hr>

    <div style="display: flex;">
        <div class="card-left-date">
            <h2>Bill Date</h2>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="billDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="card-right-date">
            <h2>Bill Due Date</h2>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="billDueDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <hr>
    <div class="table-title">
        <div class="row justify-content-md-center">
            <div class="col">
                <h2>Items</h2>
            </div>
            <div class="col">
                <a (click)="addItem()" class="btn btn-success" data-toggle="modal"><i
                        class="material-icons">&#xE147;</i> <span>Add Item</span></a>
            </div>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Item">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-icon-button color="accent" (click)="deleteItem(element)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <hr style="margin-top: 3%;">
    <div class="tax-discount">
        <div class="tax">
            <h2>GST</h2>
            <mat-form-field appearance="fill">
                <mat-label>GST</mat-label>
                <input matInput [(ngModel)]="tax" (input)="changeInput()">
            </mat-form-field>
        </div>
        <div class="discount">
            <h2>Discount</h2>
            <mat-form-field appearance="fill">
                <mat-label>Discount</mat-label>
                <input matInput [(ngModel)]="discount" (input)="changeInput()">
            </mat-form-field>
        </div>
        <div class="status">
            <h2>Status</h2>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="selectedStatus">
                    <mat-option value="Paid">Paid</mat-option>
                    <mat-option value="Pending">Pending</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="amount">
        <div class="total-amount">
            <h2>Total Amount : INR {{totalAmount}}</h2>
        </div>
        <div class="final-amount">
            <h2>Final Amount : INR {{finalAmount}}</h2>
        </div>
    </div>
    <hr>
    <div style="text-align: center;">
        <button mat-raised-button color="primary" (click)="passData()" routerLink="/pdfInvoice">Save and
            Continue</button>
    </div>
</mat-card>