.table-title {        
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

table {
    width: 80%;
    margin-left: 10%;
  }

.mat-paginator{
    width: 80%;
    margin-left: 10%;
}

.mat-header-cell{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: black;
}
  