<div class="dialog">
    <h2 mat-dialog-title>Add New Customer</h2>
    <form class="mat-dialog-content" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input required name="name" [(ngModel)]="data.name" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input required name="email" [(ngModel)]="data.email" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <input required name="address" [(ngModel)]="data.address" type="text" matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input required name="mobile" [(ngModel)]="data.mobile" type="text" matInput>
        </mat-form-field>
        <div class="mt" style="margin-bottom: 30px;">
            <button type="submit" mat-raised-button color="primary">Update Customer</button>
            <button style="margin-left:10px;" mat-raised-button (click)="onNoClick()" tabindex="-1" color="accent">Cancel</button>
        </div>
    </form>
</div>
